# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#information for writing
##################################################
Path = ./output/
##################################################
#information for reading
##################################################
GridPath = .
##################################################
Devices = 0 
##################################################
tStartOut           = 0
tOut                = 100000
tEnd                = 300000
##################################################
tStartAveraging     = 0
tStartTmpAveraging  = 100000
tAveraging          = 1000
tStartOutProbe      = 0
tOutProbe           = 1000
##################################################
NodesPerBoundaryLayerHeight = 96
BoundaryLayerHeight = 1000
RoughnessLength = 0.1
GeostrophicWindSpeed = 5.0
UseCoriolisForce = false

PeriodicShift = 1100
Refinement = false

##################################################
TurbulenceModel = QR
SGSconstant = 0.333333
QuadricLimiterP = 100000.0
QuadricLimiterM = 100000.0
QuadricLimiterD = 100000.0

##################################################
ReadPrecursor = false
nTimestepsReadPrecursor = 10
PrecursorFile = precursor/Precursor

##################################################
WritePrecursor = false
nTimestepsWritePrecursor = 10

tStartPrecursor = 100
posXPrecursor = 3000
