# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#information for writing
##################################################
Path = ./output/
##################################################
#information for reading
##################################################
GridPath = .
##################################################
Devices = 0 
##################################################
# output control (all times in seconds)
##################################################
tStartOut           = 0
tOut                = 100000
tEnd                = 300000

tStartAveraging     = 0
tStartTmpAveraging  = 100000
tAveraging          = 1000

tStartOutProbe      = 0
tOutProbe           = 1000

##################################################
# ABL geometry & resolution
##################################################
BoundaryLayerHeight = 1000
NodesPerBoundaryLayerHeight = 96
UseRefinement = true

##################################################
# ABL physics
##################################################
RoughnessLength = 0.1
Ma = 0.1
FrictionVelocity = 0.4
vonKarmanConstant = 0.4
Viscosity = 1.56e-5
Density = 1.225

##################################################
# Geostrophic wind & Coriolis
##################################################
UseCoriolisForce = false
GeostrophicWindSpeed = 5.0
GeostrophicWindDirection = -0.397
CoriolisParameter = 0.0001

##################################################
# Forest model
##################################################
UseForest = true
ForestHeight = 20
ForestDragCoefficient = 0.20
PlantAreaIndex = 3.0    
PlantAreaDensityFunction = TopHeavy

##################################################
# Grid / refinement / forcing
##################################################
PeriodicShift = 1100

##################################################
# Turbulence model
##################################################
SGSconstant = 0.333333
TurbulenceModel = QR
QuadricLimiterP = 100000.0
QuadricLimiterM = 100000.0
QuadricLimiterD = 100000.0

##################################################
# Precursor settings
##################################################
ReadPrecursor = false
WritePrecursor = false

ntimestepsReadPrecursor = 10
nTimestepsWritePrecursor = 10

tStartPrecursor = 100
posXPrecursor = 3000

PrecursorDirectory = precursor/Precursor

