# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#information for writing
##################################################
Path = ./output/NoCorrection
##################################################
#information for reading
##################################################
GridPath = .
##################################################
Devices = 0 
##################################################
tStartOut           = 0
tOut                = 36000
tEnd                = 108000
##################################################
tStartAveraging     = 0
tStartTmpAveraging  = 36000
tAveraging          = 600
tStartOutProbe      = 0
tOutProbe           = 600
##################################################
NodesPerBoundaryLayerHeight = 160
BoundaryLayerHeight = 1600
RoughnessLength = 0.01
GeostrophicWindSpeed = 5.0
UseCoriolisForce = true

PeriodicShift = 0
Refinement = false

##################################################
TurbulenceModel = QR
SGSconstant = 0.333333
QuadricLimiterP = 100000.0
QuadricLimiterM = 100000.0
QuadricLimiterD = 100000.0

##################################################
ReadPrecursor = false
nTimestepsReadPrecursor = 10
PrecursorFile = precursor/Precursor

##################################################
WritePrecursor = false
nTimestepsWritePrecursor = 10

tStartPrecursor = 100
posXPrecursor = 3000
