pathOut = d:/temp/DLR-F16
pathGeo = d:/Projects/SFB880/DLR-F16/A1_Forschungsdaten_Profilgeometrie_STL_CATIA_Rossian
fngFileWhole = f16-ascii.stl
#fngFileWhole = grundgeometrie-direkter-export.stl
#fngFileWhole = grundgeometrie-mittel.stl
fngFileBodyPart = f16-body-part-ascii.stl
fngFileTrailingEdge = f16-trailing-edge-ascii.stl
zigZagTape = 2zackenbaender0.stl

numOfThreads = 4
availMem = 13e9
refineLevel = 8 #10
#blockNx = 7 8 8
#blockNx = 7 6 7
blockNx = 21 6 13
uLB = 0.1

#x1min x1max x2min x2max x3min x3max [m]
boundingBox = -0.90 1.20 0.035 0.065 -0.65 0.65

#boundingBox = -0.90 1.1992 0.035 0.065 -0.65 0.65
#boundingBox = -0.1 0.635 0.035 0.065 -0.3 0.3
#boundingBox = -10e-3 310e-3 0.035 0.065 -21e-3 25e-3

#boundingBox = 0 65.6e-3 35e-3 75e-3 -30e-3 0


#deltaXfine = 5120e-6 #level 0
#deltaXfine = 2560e-6 #level 1
#deltaXfine = 1280e-6 #level 2
#deltaXfine = 640e-6 #level 3
#deltaXfine = 320e-6 #level 4
#deltaXfine = 160e-6 #level 5
#deltaXfine = 80e-6 #level 6
#deltaXfine = 40e-6 #level 7
#deltaXfine = 20e-6 #level 8
#deltaXfine = 10e-6 #level 9
#deltaXfine = 0.000009765625

#deltaXfine = 0.005 #level 0
#deltaXfine = 0.0025 #level 1
#deltaXfine = 0.00125 #level 2
#deltaXfine = 0.000625 #level 3
#deltaXfine = 0.0003125 #level 4
#deltaXfine = 0.00015625 #level 5
#deltaXfine = 0.000078125 #level 6
#deltaXfine = 0.0000390625 #level 7
deltaXfine = 0.00001953125 #level 8

#deltaXfine = 6.5e-6

startDistance = -1.0
refineDistance = 0.3

restartStep = 500000
restartStepStart = 500000

outTime = 1
endTime = 15000

logToFile = false

porousTralingEdge = false

thinWall = false


nupsStep = 10 10 10000000