# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
---
Checks: '
-*,

bugprone-*,
-bugprone-branch-clone,
-bugprone-narrowing-conversions,
-bugprone-macro-parentheses,

misc-*,
-misc-non-private-member-variables-in-classes,

modernize-*,
-modernize-avoid-c-arrays,
-modernize-use-trailing-return-type,
-modernize-raw-string-literal,
-modernize-loop-convert,
-modernize-use-auto,
-modernize-use-nullptr,
-modernize-pass-by-value,
-modernize-use-nodiscard,

mpi-*,

openmp-*

performance-*,

portability-*

readability-*,
-readability-braces-around-statements,
-readability-magic-numbers,
-readability-isolate-declaration,


cppcoreguidelines-avoid-goto,
cppcoreguidelines-avoid-non-const-global-variables,
cppcoreguidelines-init-variables,
cppcoreguidelines-interfaces-global-init,
cppcoreguidelines-no-malloc,
cppcoreguidelines-owning-memory,
cppcoreguidelines-pro-type-const-cast,
cppcoreguidelines-pro-type-member-init,
cppcoreguidelines-pro-type-static-cast-downcast,
cppcoreguidelines-slicing,
cppcoreguidelines-special-member-functions,

-cppcoreguidelines-init-variables,
-cppcoreguidelines-pro-type-member-init,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-interfaces-global-init

'
HeaderFilterRegex: '.*/src/.*'
WarningsAsErrors: 'True'