CompileFlags:
  Add:
    - -xc++
    - -std=c++17
    - --cuda-gpu-arch=sm_70
    - --cuda-path=/usr/local/cuda
    - -L/usr/local/cuda/lib64
    - -I/usr/local/cuda/include
  Remove: [-ccbin=*,-rdc=*,--generate-code*,--options-file,-forward*,--extended-lambda,-fopenmp,-Xcompiler*]
