# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder

# build directories
build/
bin/
cmake-build-debug/
run/
buildGCC/
buildWSL/
buildCygwin/
pybuild/

# Python
_skbuild/
dist/
*.egg-info/
**/__pycache__/
.venv/
pythonbindings/pyfluids/*.cpython*
pythonbindings/pymuparser/*.cpython*

# IDE
.vscode/
.vscode-server/
.sync/
.idea/
.ccache/
.cache/
.devcontainer/devcontainer.json

# simulation results
output/
logs/
reference_data/
generated/

# grid
.grid/

# scripts
scripts/

# stl files
stl/

# test data for regression tests
test_data/

# MacOS
.DS_Store

# Settings
.gitconfig

# User Settings
CMakeUserPresets.json