# build directories
build/
bin/
cmake-build-debug/
run/

# Python
_skbuild/
dist/
*.egg-info/
__pycache__/
.venv/

# IDE
.vscode/
.vscode-server/
.sync/
.idea/

# simulation results
output/
logs/

# scripts
scripts/

# stl files
stl/

# MacOS
.DS_Store
