pathname = d:/temp/BoxBenchmark
numOfThreads = 4
availMem = 11e9

#Grid
length =  32 32 32 
blocknx = 8 8 8

dx = 1
refineLevel = 0

#Simulation
uLB = 0.001
Re = 10


outTime = 1000
endTime = 1000

logToFile = false

cpStep     = 10000     
cpStepStart= 100000
restart    = false    
restartStep= 100000