# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
########################################################################################################
[fluid]
viscosity = 1.56e-5
density = 1.225

[turbine]
name_airfoil_data = thin_airfoil_theory  
tip_speed_ratio = 4.5                  
number_of_blades = 2                     
rotor_diameter = 1.0                   
rotor_height = 1.0                   
velocity_inlet = 9.3                   
reynolds_number_chord = 160e3                 
blade_chord = 0.06                  
blade_pitch_in_degrees = 0                     
blade_mounting_position_chordwise = 0.1 # measured from half-chord, normalized by chord

[forces]
number_of_cells_per_diameter = 20
number_of_actuator_line_points_per_blade = 20    
smearing_width_per_dx_fine = 5
flag_localized_smearing_width = false

[domain]
number_of_grid_refinement_levels = 2
quadric_limiter = 0.001
# coarse grid (in m)
position_domain_0_x_min = 0
position_domain_0_y_min = 0
position_domain_0_z_min = 0
position_domain_0_x_max = 25
position_domain_0_y_max = 8
position_domain_0_z_max = 8
# fine grid (in m)
position_domain_1_x_min = 4
position_domain_1_y_min = 3
position_domain_1_z_min = 3
position_domain_1_x_max = 16
position_domain_1_y_max = 5
position_domain_1_z_max = 5
# turbine placement (in m)
position_turbine_x = 5
position_turbine_y = 4
position_turbine_z = 4

[turbulence]
TurbulenceModel = QR
SGSconstant = 0.3333

[optional engineering models]
flag_flow_curvature = false
flag_end_effects = false

[lbm]
mach_number_lbm = 0.1       

[sampling]
flag_print_files = true    
number_of_revolutions_simulation_end = 100
# x-plane probe (in m)
position_probe_xplane_x = 5.75,6,6.25,6.5,6.75,7,10,15
position_probe_xplane_y_min = 3
position_probe_xplane_z_min = 3
position_probe_xplane_y_max = 5
position_probe_xplane_z_max = 5
# z-plane probe (in m)
position_probe_zplane_x_min = 4
position_probe_zplane_y_min = 3
position_probe_zplane_x_max = 16
position_probe_zplane_y_max = 5
position_probe_zplane_z = 4
# loads
number_of_revolutions_loads_output_start = 80
number_of_revolutions_loads_output_intervall = 0.01
# probes
number_of_revolutions_probe_output_start = 90
number_of_revolutions_probe_output_intervall  = 0.13
number_of_revolutions_probe_averaging_start = 80
number_of_revolutions_probe_averaging_intervall = 0.01
# 3d velocity field
number_of_revolutions_field_output_start = auto
number_of_revolutions_field_output_intervall  = 10
########################################################################################################