# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#information for Writing
##################################################
Path = ./output/ActuatorLine/

##################################################
#information for reading
##################################################
GridPath=.

##################################################
RotorDiameter= 126
NodesPerDiameter= 24
Velocity= 9
LengthXinDiameter = 12
LengthYinDiameter = 4
LengthZinDiameter = 4

##################################################
TurbinePositionsX = 378 1006
TurbinePositionsY = 0 0
TurbinePositionsZ = 0 10
##################################################
hubLength = 10
hubRadius = 2 
hubPositionOffset = 2
hubDragCoeff = 1.7 
hubSkinFrictionCoeff = 0.004 
numberOfHubPoints = 4

towerRadius = 5
towerDragCoeff = 0.8
towerOffset = 5
numberOfTowerPoints = 25
towerHeights = 90 100
##################################################
tStartOut=1000000
tOut=100
tEnd=402

##################################################
tStartTmpAveraging=100
tStartAveraging=100
tAveraging=100
tTmpAveraging=100
tStartOutProbe=100
tOutProbe=100        
              
##################################################
TurbulenceModel = QR
SGSconstant = 0.3333333

QuadricLimiterP = 1.0
QuadricLimiterM = 1.0
QuadricLimiterD = 1.0

##################################################

