# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#informations for Writing
##################################################
Path = output/
##################################################
#informations for reading
##################################################
GridPath = .
##################################################
Devices = 0 
##################################################
Ma = 0.1
PecletNumber = 0
NodesPerSigma0 = 10
DiffusivityLB = 0.00001
Transports = 0.001
TurbulenceModel = None
