# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#information for Writing
##################################################
Path = output/GaussianHillOfConcentration
##################################################
#information for reading
##################################################
GridPath = .
##################################################
Devices = 0 
##################################################
PecletNumber = 100
NodesPerSigma0 = 10
DiffusivityLB = 1e-4
Transports = 1
TurbulenceModel = None
