# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#information for Writing
##################################################
Path = ./output
##################################################
#information for reading
##################################################
GridPath=.
##################################################
tStartOut = 0
tOut = 0.1
tEnd = 2
##################################################
nNodes = 24
Ma = 0.001
Ra = 1e3
Pr = 0.71
##################################################