# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#information for Writing
##################################################
Path = ./output
##################################################
#information for reading
##################################################
GridPath=.
##################################################
tStartOut = 0
tOut = 1e-4
tEnd = 5
##################################################
nNodes = 24
Ma = 0.01
Ra = 1e3
Pr = 0.71
##################################################
TurbulenceModel = QR
SGSconstant = 0.3333333
TurbulenceModelAdvectionDiffusion = Default