pathname = d:/temp/LaminarTubeFlow
numOfThreads = 4
availMem = 10e9

#Grid
length = 64 32 32
#length = 21 6 13
blocknx = 8 8 8
dx = 1
refineLevel = 0

#Simulation
uLB = 0.1
Re = 10


logToFile = false

newStart = true
restartStep = 100000

cpStart = 100000
cpStep = 100000

outTime = 1
endTime = 100