# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#information for Writing
##################################################
Path = ./GABLS/coarse/output
##################################################
#information for reading
##################################################
GridPath = .
##################################################
Devices = 0
##################################################
tStartOut           = 0
tOut                = 3600
tEnd                = 32400
##################################################
tStartSampling      = 28800
tStartTmpAveraging  = 28800
tSampling           = 1
tStartOutProbe      = 28800
tOutProbe           = 600
##################################################
L_x = 400
L_y = 400
L_z = 400
BoundaryLayerHeight = 400
nz = 200
##################################################
TurbulenceModel = AMDStratified
TurbulenceModelAdvectionDiffusion = AMDStratified
SGSconstant = 0.3 # default: 1/3
PrandtlNumber = 0.7 # default: 0.7
QuadricLimiterP = 100000.0
QuadricLimiterM = 100000.0
QuadricLimiterD = 100000.0
##################################################
InitialVelocityProfile = Constant
InitialTemperatureProfile = TwoLayers
ReferenceTemperature = 263.5
SurfaceTemperature = 265
InversionHeight = 100
GeostrophicWindSpeed = 8.0
CoriolisParameter = 1.39e-4
TemperaturePerturbationHeight = 50
TemperaturePerturbationStrength = 0.1
LapseRate = 10
HeatingRate = -0.25
RoughnessLength = 0.1
SamplingOffset = 2
UseRayleighDamping = true
DampingLayerStart = 300
DampingFactor = 1.6e-3 # for Rayleigh damping
##################################################
