# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#informations for Writing
##################################################
Path = ./output_test
##################################################
#informations for reading
##################################################
GridPath = .
##################################################
Devices = 0
##################################################
tStartOut           = 0
tOut                = 1000
tEnd                = 100000
##################################################
tStartAveraging     = 0
tStartTmpAveraging  = 100000
tAveraging          = 200
tStartOutProbe      = 0
tOutProbe           = 1000
##################################################
nz = 96
##################################################
TurbulenceModel = AMDStratified
TurbulenceModelAdvectionDiffusion = AMDStratified
SGSconstant = 0.2
QuadricLimiterP = 100000.0
QuadricLimiterM = 100000.0
QuadricLimiterD = 100000.0
##################################################
MeanPotentialTemperature = 288
InversionStrength = 2.5
InversionHeight = 500
InversionThickness = 200
GeostrophicWind = 10.0
LapseRate = 1
FrictionVelocity = 0.28
RoughnessLength = 2e-4
SamplingOffset = 3
UseHeatFlux = false
DampingFactor = 1e-4 # for Rayleigh damping
# DampingFactor = 1e5 for Diffusion Layer
DampingLayerShift = 0.5
DampingLayerStretchFactor = 0.2
##################################################
PrandtlNumber = 0.7
