# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
########################################################################################################
Path                        = ./output/ActuatorLineDisk

# fluid
VISCOSITY_KINEMATIC         = 1.56e-5
DENSITY                     = 1.225

# disk
NUMBER_BLADES               = 50
DISK_DIAMETER               = 1.0
VELOCITY_INLET              = 5
THRUST_COEFFICIENT          = 0.2

# actuator line method
NUMBER_CELLS_PER_DIAMETER   = 11
NUMBER_ALM_NODES_PER_SPAN   = 40
SMEARING_WIDTH_PER_DX       = 2

# simulation domain
POSITION_DOMAIN             = [0,20],[0,20],[0,20]
POSITION_DISK_CENTER        = [10],[10],[10]
QUADRIC_DELIMITER           = 0.1

# turbulence modeling
TurbulenceModel             = QR
SGSconstant                 = 0.3333

# lbm
LBM_MACH_NUMBER             = 0.1

# data sampling
FLAG_PRINT_FILES            = true
POSITION_PROBE_PLANE_Z      = [0,20],[0,20],[10]
N_START_WRITE_LOADS         = 5
N_START_WRITE_PROBE         = 4.99
N_START_WRITE_FIELD         = 4.99
N_START_PROBE_AVERAGING     = 4
N_INTERVALL_AVERAGING       = 0.01
N_INTERVALL_WRITE_LOAD      = 0.01
N_INTERVALL_WRITE_PROBE     = 0.01
N_INTERVALL_WRTIE_FIELD     = 0.05
N_END                       = 5
########################################################################################################
