pathOut = d:/temp/f16Small
pathGeo = d:/Projects/SFB880/DLR-F16/A1_Forschungsdaten_Profilgeometrie_STL_CATIA_Rossian
#fngFileWhole = f16-ascii.stl
#fngFileWhole = grundgeometrie-direkter-export.stl
#fngFileWhole = grundgeometrie-mittel.stl

fngFileWhole = cylinder.ASCII.stl

fngFileBodyPart = f16-body-part-ascii.stl
fngFileTrailingEdge = f16-trailing-edge-ascii.stl
zigZagTape = 2zackenbaender0.stl

numOfThreads = 2
availMem = 10e9
refineLevel = 8
#blockNx = 8 4 8
blockNx = 21 6 13
#blockNx = 294 12 247
uLB = 0.1

#x1min x1max x2min x2max x3min x3max [m]
#boundingBox = -0.90 1.20 0.035 0.065 -0.65 0.65
#boundingBox = -0.1 0.60 0.035 0.065 -0.3 0.3
#boundingBox = -10e-3 310e-3 0.035 0.065 -21e-3 21e-3

boundingBox = -0.255 0.27 0.035 0.065 -0.17 0.155

#deltaXfine = 0.005 #level 0
#deltaXfine = 0.0025 #level 1
#deltaXfine = 0.00125 #level 2
#deltaXfine = 0.000625 #level 3
#deltaXfine = 0.0003125 #level 4
#deltaXfine = 0.00015625 #level 5
#deltaXfine = 0.000078125 #level 6
#deltaXfine = 0.0000390625 #level 7
deltaXfine = 0.00001953125 #level 8


refineDistance = 0.3

restartStep = 10
restartStepStart = 10

outTime = 1
endTime = 10

logToFile = false

porousTralingEdge = false

thinWall = false

testBox=false

nupsStep = 1 1 10000000