15
fngFileWhole1 = grundgeometrie-direkter-export.stl
fngFileWhole2 = f16-ascii.stl
#fngFileWhole = grundgeometrie-mittel.stl
fngFileBodyPart = f16-body-part-ascii.stl
fngFileTrailingEdge = f16-trailing-edge-ascii.stl
zigZagTape = 2zackenbaender0.stl
#sampleFilename = f16-pte-669x2945x1119.raw
#sampleFilename = f16-pte-669x2945x100.raw
#sampleFilename = f16-pte-15.stl #test10_1.stl
sampleFilename = output.stl


#pathReInit = d:/temp/DLR-F16_L0_vx0_V
pathReInit = d:/temp/DLR-F16_L2_init
stepReInit = 0

numOfThreads = 1
availMem = 13e9

uLB = 0.1

#x1min x1max x2min x2max x3min x3max [m]
#deltaXfine = 0.00001171875
#deltaXfine = 0.00075
boundingBox = -0.90 1.20 0.035 0.065 -0.65 0.65
blockNx = 10 10 10

#deltaXfine = 13393e-9
#boundingBox = -0.90 1.19145087 0.035 0.06928608 -0.65 0.65
#blockNx = 10 10 10

#boundingBox = -0.90 1.19998697917 0.035 6.49869791667e-2 -0.65 0.65
#deltaXfine = 1.30208333333e-5
#blockNx = 9 9 9

refineLevel = 0

deltaXfine = 0.003 #level 0
#deltaXfine = 0.0015 #level 1
#deltaXfine = 0.00075 #level 2
#deltaXfine = 0.000375 #level 3
#deltaXfine = 0.0001875 #level 4
#deltaXfine = 0.00009375 #level 5
#deltaXfine = 0.000046875 #level 6
#deltaXfine = 0.0000234375 #level 7
#deltaXfine = 0.00001171875 #level 8
#deltaXfine = 13393e-9 #level 8

startDistance = -1.0
refineDistance = 0.3

writeBlocks = true

newStart = true
restartStep = 60000

cpStart = 60000
cpStep = 60000

outTimeStep = 60000
outTimeStart = 60000
endTime = 60000

logToFile = false

porousTralingEdge = false

thinWall = true

#Cp
pcpStart = 10
pcpStop = 100
p_inf = -0.00759931



nupsStep = 1000 1000 10000000