pathname = d:/temp/BoxBenchmark
numOfThreads = 1
availMem = 11e9

#Grid
length =  32 32 32 
blocknx = 8 8 8

dx = 1
refineLevel = 0

#Simulation
uLB = 0.001
Re = 10


outTime = 100
endTime = 100

logToFile = false