# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
refine = false

output_path = ./output/SphereInChannel_1Level

velocityLB = 0.032