# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
##################################################
#GPU Mapping
##################################################
Devices=0
NumberOfDevices=1

##################################################
#simulation parameter
##################################################
TimeEnd=10000
TimeOut=10000

##################################################
# CUDA Streams and optimized communication (only used for multiple GPUs)
##################################################
useStreams = true
useReducedCommunicationInInterpolation = true