##################################################
#GPU Mapping
##################################################
Devices=0
NumberOfDevices=1

##################################################
#simulation parameter
##################################################
TimeEnd=10000
TimeOut=10000

##################################################
# CUDA Streams and optimized communication (only used for multiple GPUs)
##################################################
useStreams = true
useReducedCommunicationInInterpolation = true