# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
########################################################################################################
[fluid]
viscosity = 1.56e-5
density = 1.225

[disk]
number_of_blades = 50
disk_diameter = 1.0
velocity_inlet = 5
number_of_thrust_coefficients = 2
thrust_coefficient_0 = 0.2
thrust_coefficient_1 = 0.5

[forces]
number_of_cells_per_diameter = 9
number_of_actuator_line_points_per_blade = 40
smearing_width_per_dx = 2

[domain]
quadric_limiter = 0.1
# coarse grid (in m)
position_domain_0_x_min = 0
position_domain_0_y_min = 0
position_domain_0_z_min = 0
position_domain_0_x_max = 20
position_domain_0_y_max = 20
position_domain_0_z_max = 20
# disk placement (in m)
position_disk_center_x = 10
position_disk_center_y = 10
position_disk_center_z = 10

[turbulence]
TurbulenceModel = QR
SGSconstant = 0.3333

[lbm]
mach_number_lbm = 0.1

[sampling]
flag_print_files = true
number_of_flow_throughs_simulation_end = 5
# z-plane probe (in m)
position_probe_zplane_x_min = 0
position_probe_zplane_y_min = 0
position_probe_zplane_x_max = 20
position_probe_zplane_y_max = 20
position_probe_zplane_z = 10
# loads
number_of_flow_throughs_loads_output_start = 5
number_of_flow_throughs_loads_output_intervall = 0.01
# probes
number_of_flow_throughs_probe_output_start = 4.99
number_of_flow_throughs_probe_output_intervall = 0.01
number_of_flow_throughs_probe_averaging_start = 4
number_of_flow_throughs_probe_averaging_intervall = 0.01
# 3d velocity field
number_of_flow_throughs_field_output_start = 4.99
number_of_flow_throughs_field_output_intervall = 0.05
########################################################################################################
