image: git.rz.tu-bs.de:4567/irmb/virtualfluids/ubuntu22_04:1.1

stages: 
  - test

.regression-test:
  stage: test

  needs: []

  tags:
    - gpu
    - linux

  before_script:
    - chmod -R +x ./regression-tests/*
    - pip install fieldcompare

  artifacts:
    expire_in: 1 hrs
    paths:
      - output/
    when: on_failure

{% for regression_test in regression_tests %}
run-regression-test-{{ regression_test[1] }}-{{ regression_test[0] }}:
  extends: .regression-test

  script:
    - ./regression-tests/{{ regression_test[1] }}/{{ regression_test[0] }}.sh

{% endfor %}
