pathname = d:/temp/LaminarTubeFlow1
numOfThreads = 4
availMem = 10e9

#Grid
length = 64 32 32
blocknx = 8 8 8
dx = 1
refineLevel = 0

#Simulation
uLB = 0.001
Re = 10


outTime = 1
endTime = 5000

logToFile = false

restartStep = 10000