# SPDX-License-Identifier: CC-BY-4.0
# SPDX-FileCopyrightText: Copyright © VirtualFluids Project contributors, see AUTHORS.md in root folder
#stlFile = ./output/FlowAroundCylinder/geo/cylinder.stl
pathOut = ../output/FlowAroundCylinder_dx_00005

numOfThreads = 9
refineLevel = 1
blockNx = 26 42 42

#uLB = 0.001
#dx = 0.01
uLB = 0.0005
dx = 0.005


logToFile = false

newStart = true
restartStep = 1000

cpStart = 1000000
cpStep  = 1000000

# outTime = 10000
# endTime = 120000
outTime = 40000
endTime = 480000

#nupsStep = 5000 5000 10000000
nupsStep = 20000 20000 10000000